{
  "plugins": ["stylelint-prettier"],
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "prettier/prettier": true,
    "indentation": 4,
    "color-named": "never",
    "color-hex-length": "short",
    "color-hex-case": "lower"
  }
}
